/* body {background: url('./asd.jpeg') no-repeat center/cover fixed;} */




h1{
    color: red;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

h2{
    font-size:20px;

}

/* p{
    font-size: 16px;
    font-weight:bold;
    font-style: italic;
    text-align: center;
    text-transform:capitalize;
    text-decoration:dashed underline;
    background-color: inherit;

} */

div{
    box-shadow: 5px 6px 30px #000000; 
}

.ar {

     font-size: 16px;
    font-weight:bold;
    font-style: italic;
    text-align: center;
    text-transform:capitalize;
    text-decoration:dashed underline;
    background-color: pink;
    word-spacing: 3px;
    


}

.ar-chile{
    background-color: inherit;
}






